# Dependencies
node_modules
.pnpm-store

# Production build output
dist
build

# Environment variables
.env
.env.local
.env.production

# Logs & temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
